@model CC.Models.ChillInfoModel

<div class="chill-container">
    <h2 class="chill-wide-header">
        @Model.Header
    </h2>
    @* <p class="chill-info">
        @Model.Info
    </p> *@
    @* <p class="chill-key-point">
        @Model.KeyPoint
    </p> *@
    <div class="chill-card-container">
        @for(var i = 0; i < Model.SubArticleCards.Count; i++)
        {
        var Card = Model.SubArticleCards[i];
        int row = i / 4;
        int col = i % 4;
        <div class="chill-card @($"row-{row} col-{col}") @($"card{i}")">
            <div class="chill-card-front">
                <img src="@Card.ImgPath">
                <h2>@Card.Header</h2>
            </div>
            <div class="chill-card-back">
                @for (var j = 0; j < @Card.Paragraphs.Count; j++)
                {
                    <p>@Card.Paragraphs[j]</p>
                    <br>
                }
            </div>
        </div>
        }
    </div>
</div>