@using CC.Helpers;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mcv_cc</title>
    <link rel="stylesheet" href="~/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar-container">
        <nav class="sticky-navbar">
            <div class="navbar-logo-container">
                @* <h1 class="logo-text-placeholder">@DynamicStrings.SiteName</h1> *@
                <img class="navbar-logo" src='~/svg/logo-generic.svg' alt="@DynamicStrings.SiteName">
            </div>
            <div class="navbar-links">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-item" })
                @Html.ActionLink("GSC Documentation", "GSC", "Home", null, new { @class = "navbar-item" })            
                @* @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "navbar-item" }) *@
                @* <a class="navbar-item" asp-page="/Index">GSC Documentation</a> *@
                @* <a class="navbar-item" asp-page="/Index">API's</a>
                <a class="navbar-item" asp-page="/Index">Art</a>
                <a class="navbar-item" asp-page="/Index">Blog</a>
                <a class="navbar-item" asp-page="/Index">Digital CV</a>
                <a class="navbar-item" asp-page="/Index">Projects</a>
                <a class="navbar-item" asp-page="/Index">Food</a> *@
                @* <a class="navbar-item" asp-page="/Contact">Contact</a> *@
                @* <a class="navbar-item" asp-page="/Index">Tutorials</a> *@
            </div>
        </nav>
    </div>
    @RenderBody()
    <div class="footer">
        <div class="footer-random-quote footer-section">
            <h2>@DynamicStrings.FooterQuote</h2>
        </div>
        <div class="footer-connect-info footer-section">
            <h2>Connect With Me:</h2>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
            <div class="social-icons">
                <!-- GitHub Icon -->
                <a href="https://github.com/CaolanC" target="_blank" class="github">
                    <i class="fab fa-github"></i>
                </a>
                <!-- LinkedIn Icon -->
                <a href="https://www.linkedin.com/in/caolan-william-cochrane-6905b32a3/"  target="_blank" class="linkedin">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
        <div class="footer-contact-info footer-section">
            <h2>Get In Touch:</h1>
            <ul>
                <li>Email: <a href="mailto:@DynamicStrings.ContactEmail">@DynamicStrings.ContactEmail</a></li>
            </ul>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
